.buttonSeconary {
  //   background-color: aqua;
  padding: 13px;
  border-radius: 30px;
  width: 100%;
  font-weight: var(--bold);

  color: var(--buttonSecondaryColor);
  background-color: var(--buttonSecondaryBackgroundColor);
}
