:root {
  /* Colors */
  --violet: #635fc7;
  --light-violet: #a8a4ff;
  --red: #ea5555;
  --red-hover: #ff9898;

  /* Black and whites */
  --black: #000112;
  --very-dark-grey: #20212c; /* Dark background */
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #f4f7fd;
  --white: white;

  /* Fonts  */
  --font-family: "Plus Jakarta Sans", sans-serif;
  --medium: 500;
  -bold: 700;
}
